.homebanner{
    width: 100%;
    object-fit: contain;
    background-repeat :no-repeat;
    position: relative;
    justify-content: center;

}

.homebannerimg{
    height: 80vh;
    width: 100% !important;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,2),rgba(0,0,0,0) );
    justify-content: center;
}

.graybgbanner{
    background-color: rgb(238, 235, 235);
    height: 80vh;
}

.homebanneritemdiv {
    display: grid;
    
    /* This makes the grid responsive */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 35px;
    
    /* Centering fix from above */
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
    box-sizing: border-box; 
}

.homebanneritemdivcard{
    display: flex;
    background-color:white;
    flex-direction: column;
    width: 343px;
    box-sizing: border-box;
    padding: 20px 0 15px;
    justify-content: center;
    
}

.homebanneritemdivcardtitle{
    margin: 0 20px;
    font-size: 21px;
    font-weight: 700;
    justify-content: center;
}

/* .homebanneritemdivcard{
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 343px;
    box-sizing: border-box;
    padding: 20px 0 15px;
    color: black;
} */

.imghomebanneritemdivcard{
    margin: 10px 20px;
    display: grid;
    grid-template-columns: auto auto;
    /* justify-content: center; */
}

.imghomebannerdiv{
    height: 144px;
    width: 144px;
    display: flex;
    flex-direction: column;
}

.imgbannerhomedivimg{
    width: 100%;
}

.imgbannerimgname{
    font-size: 12px;
    font-weight: 500;
}

.seemorebutton{
    margin: 0 20px;
    font-size: 13px;
    color: #007185;
    font-weight: 600;
}