.productpage{
    width: 100%;
}

.producttopbanner{
    display: flex;
    height: 50px;
    box-shadow: 0 0 1px #747474;
    height: 50px;
    padding: 0 9px 0 15px;
    gap: 25px;
}

.producttopbanneritems{
    padding: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.producttopbanneritemsubmenu{
    padding: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
        text-decoration-color: #febd69;
        text-decoration-thickness: 1px;
    }
}

.productpagemain{
    display: flex;
    padding: 16px 8px;
}

.productpagemainleft{
    width: 14%;
    border-right: 2px solid #ddd;
    padding: 0 10px;
}

.ppmltitle{
    font-size: 14px;
    font-weight: 700;
}

.ppmlcontent{
    margin-top: 10px;
    font-size: 14px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.ppmlcontentsub{
    font-weight: 600;
}

.ratingleftBox{
    display: flex;
    align-items:center;
    
}

.andUp{
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.productpagemainright{
    width: 86%; 
    padding: 0 0 0 12px;
}

.productpagemainrighttopbanner{
    width: 99%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 20px 0;
    padding: 14px 18px;
    border-radius: 5px;
    font-size: 14px;
}

.productpagemainrighttopbannerspan{
    color: #c45500;
    font-weight: 700;
}

.itemsimageproductpage{
    width: 100%;
    display: grid;
    gap: 100px;
    grid-template-columns: 308px 308px 308px;
}

.itemsimageproductpageone{
    display: flex;
    flex-direction: column; 
    width: 100%;
    border-radius: 5px;
    box-sizing: bordr-box;
    height: 640px;
}

.imgblockitemsimgprodpageone{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb( 247, 247, 247);
    padding: 40px 20px;
}

.productimageproduct{
    width: 100px;
    height:260px;
}

.productnameproduct{
    padding: 20px;
    border: 1px solid #efeeee;
    border-top: none;
    display: flex;
    flex-direction: column;
}
.productrating{
    display: flex;
    margin: 10px 0px;
}

.priceproductpage{
    display: flex;
}

.currencytext{
    font-size: 13px;
}

.ratehomedetail{
    font-size: 28px;
    font-weight: 500;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.addtocartbutton{
    background-color: #febd69;
    width: fit-content;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.offproductpage{
    color: #727171;
    font-weight: 400;
}

.freeddeliveyhomepage{
    font-weight: 400;
    margin-top: 10px;
}