.navbarbelt{
    background-color: #131921;
    display: flex;
    width: 100%;
    height: 60px;
    color: white;
    box-sizing: border-box;
}
.leftnavbelt{
    display: flex;
    gap: 5px;
    padding: 10px;
}

.leftlogo{
    width: 110px;
    height: 30px;
    text-decoration: none;
    color: white;
    display: flex;
    padding: 8px;
    cursor: pointer;
    &:hover{
        border: 1px solid;
        border-radius:3 px;
    }
}

.amazonlogo{
    width: 97px;
    height: 100%
}

.navbar_inlogo{
    margin-left: 2px;
    font-weight: 400;
    padding-top: 3px;
}

.navbeltlocation{
    display: flex;
    gap: 5px;
    padding: 8px;
    cursor: pointer;
    &:hover{
        border-radius: 3px;
        border: 1px solid;
    }
}
.navbeltlocimage{
    width: 15px;
    padding-top: 2px;
}

.navbeltlocplace{
    display: flex;
    flex-direction: column;
}

.navbeltlocplacetop{
    font-size: 12px;
    color: #ccc;
    letter-spacing: 0.5px;
    font-weight: 500;
    padding-left: 5px;
    padding-bottom: 2px;
}
.navbeltlocplacebottom{
    font-size: 14px;
    font-weight: 600px;
    line-height: 10px;
    padding-left: 5px;   
}

.navbeltsearchbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 4px;
    width: 50%;
}

.navbeltsearchboxdiv{
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #131921;
}
.navbeltsearchall{
    display: flex;
    background-color: #cdcdcd;
    gap: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    color: #999999;
}
.navbeltsearchalltext{
    font-size: 12px;
    font-weight: 600;
}

.navbeltinputsearchbox{
    padding: 5px;
    width: 84%;
    &::placeholder{
        color: gray;
        font-size: 15px;
        font-weight: 500px;
    }
    &:focus{
        outline: none;
    }
}

.navbeltsearchicons{
    background-color:#ffb758;
    font-size: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color:#f1ba73;
    }
}

.navbeltsearchiconicon{
    color: black;
    font-size: 20px;
}

.rightnavbelt{
    padding: 10px;
    color: white;
    display:flex;
    gap: 10px;
}

.indiaflag{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding: 8px;
    gap: 5px;
    cursor: pointer;
    height: 30px;
    &:hover{
        border-radius: 3px;
        border: 1px solid;
    }
}

.indiacodenavbelt{
    font-size: 14px;
    display: flex;
    line-height: 10px;
    align-items: center;
    font-weight: 700;
}

.indiacodenavbeltdrp{
    color:#ccc;
    padding-bottom: 7px;
}

.hellosignnavbelt{
    display:flex;
    position: relative;
    color: white;
    text-decoration: none;
    flex-direction: column;
    height: 30px;
    padding: 8px;
    cursor: pointer;
    &:hover{
        border-radius:3px;
        border: 1p solid;
    }
}

.hellotopnavbelt{
    font-size: 12px;
    font-weight: 500;
}

.carttitle{
    font-size: 14px;
    font-weight: 500px;
}

.cartitemnumnavbelt{
    position: absolute;
    bottom: 70%;
    left:22%;
    color: #febd69;
    font-weight: 600;
    font-size: 16px;
}