.footer{
    color: white;
    background-color: #232f3e;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amazonimage{
    margin-top: 40px;
}

.amazonlogofoot{
    width: 110px;
}

.footercontent{
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    justify-content: space-between;
    gap: 70px;
}

.conttitle{
    font-weight: 800;
}
.footcont{
    
    align-items: center;
    gap: 50px;
    padding: 40px;
    column-gap: 40px;
}
.contfootsubtitle{
    margin-bottom:10px;

}